/* FILEPATH: /c:/Users/xitla/OneDrive/Documents/GitHub/website/style.css */

/* Reset default styles */
body, h1, p {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

*{
	box-sizing: border-box;
}

/* Set font and background color */
body {
  background-color: #ffb6c1;
  border:5px solid black;
}

@keyframes float {
	0% { transform: translateY(0px); }
	50% { transform: translateY(-20px); }
	100% { transform: translateY(0px); }
}

@keyframes slide-in-left {
	0% { transform: translateX(-100%); 
	opacity: 0;
	}
	100% { transform: translateX(0); 
	opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
	  transform: translateX(100%);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }

  @keyframes slide-out-left {
	0% {
	  transform: translateX(0);
	  opacity: 1;
	}
	100% {
	  transform: translateX(-100%);
	  opacity: 0;
	}
  }
  
  @keyframes slide-out-right {
	0% {
	  transform: translateX(0);
	  opacity: 1;
	}
	100% {
	  transform: translateX(100%);
	  opacity: 0;
	}
  }

.slide-in-right {
	animation: slide-in-right 2s forwards;
}

.slide-in-left {
	animation: slide-in-left 2s forwards;
}

.slide-out-left {
	animation: slide-out-left 2s forwards;
}

.slide-out-right {
	animation: slide-out-right 2s forwards;
}

p.hide {
	display: none;
}

/* Style heading */
h1 {
	animation: slide-in-left 2s forwards;
	font-family: "Ultra", serif;
	letter-spacing: 1.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-weight: 200;
	font-size: 8vw;
	padding: 40px;
}

/* Style paragraph */
p {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-size: 2.5vw;
	font-family: "roboto-bold", sans-serif;
}
.ultra-regular {
	font-family: "Ultra", serif;
	font-weight: 400;
	font-style: normal;
}
  .alfa-slab one-regular {
	font-family: "Alfa Slab One", serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}

/* nav bar */
.navbar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto-bold", sans-serif;
	font-size: calc(16px + 1vw);
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFE0E3;
	opacity: 1;
	border-bottom: 5px solid black;
	position: fixed;
	top: 0;
	width: calc(100% - 10px);
}
.navbar, .nav-left, .nav-center, .nav-right {
	/* display: flex; */
	align-items: center;  /* centers the content vertically */
}

.nav-left {
	display: flex;
	flex: 1;
	justify-content: flex-start;  /* aligns the content to the left */
}
  
.nav-center {
	display: flex;
	flex: 1;
	justify-content: center;  /* centers the content */
}
  
.nav-right {
	display: flex;
	flex: 1;
	justify-content: flex-end;  /* aligns the content to the right */
}

.nav-left a, .nav-right a {
	margin: 0 10px;
}

.nav-center a {
	margin: 0;
}

.navbar a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar a:hover {
	font-family: "ultra", serif;
	color: #b0727b;
}

.nav-logo {
	transition: transform 0.5s ease;
	width: auto;
	height: 7vh;
	padding: 0;
}

.nav-logo.rotate{
	transform: rotate(180deg);
}

.logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75vh; /* Adjust this value as needed */
	width: 100%;
	border-bottom: 5px solid black;
	padding-top: 10vh;
	margin-top: 2vh
}

.portrait {
	/* display: flex; */
	justify-content: center;
	align-items: center;
}

.portrait img {
	animation: slide-in-right 2s forwards; 
	display: block;
	margin-left: auto; 
	max-width: 80%; 
	margin-right: 5vw;
	height: auto;   
	object-fit: contain; 
	padding: 5vh; 
	padding-bottom: 10vh;
	flex: 1;
}

.name {
	padding-left: 1vw;
	text-align: left;
	flex: 1;
}

.about-container{
	display: flex;
	align-items: center;
	height: 75vh; /* Adjust this value as needed */
	width: 100%;
	background-color: #FFE0E3;
	border-bottom: 5px solid black;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
}

.logo img {
	animation: float 3s ease-in-out infinite;
	display: block;
	max-width: 75%; 
	object-fit: contain;
	margin-right: auto;
	margin-left: 5vw;
	flex: 1;
	
}

.about-p{ 
	/* animation: slide-in-right 2s forwards; */
	display: flex;
	justify-content: center;
	max-width: 100%;
	margin-left: auto;
	margin-right: 2vw;
	flex: 1;
	text-align: center;

}

p.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-size: 2vw;
	font-family: "roboto-bold", sans-serif;
	padding: 5vh 5vw;
}

.page-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50vh; /* Adjust this value as needed */
	width: 100%;
	border-bottom: 5px solid black;
	padding-top: 10vh;
	margin-top: 2vh
}






  

